@import './reset.styl'
@import './mixin.styl'
@import './font.styl'
// 全局样式
body
  font-family 'Alibaba Sans', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
  font-size 14px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color #ffffff
// 公用样式
.left
  float left
.right
  float right
.hidden
  overflow hidden
.clear
  clear both
